<main class="main-style">
  <%= render partial: 'partials/header', locals: { page: 'Categories' } %>
  <p style="color: green"><%= notice %></p>

  <div id="categories">
    <% if @categories.empty? %>
      <div class="message">There are no categories to display. Add one.</div>
    <% else %>
      <% @categories.each do |category| %>
        <%= render category %>
      <% end %>
    <% end %>
  </div>

  <div class= "btn-div" >
    <%= link_to "New category", new_category_path, class: "category-btn" %>
  </div>
</main>